{%extends 'layoutPerfilUser.html'%}

{%block perfilUser%}

</section>
<section id="perfil_menu" class="container-fluid py-5 perfil_menu">
    <h2 class="text-center mb-5">Este es nuestro menú del día</h2>
    <div class="row">
        <div class="col-12">
            <div class="container">
                <div class="row">

                    <div class="col-12 col-sm-6 col-md-3 mb-5 mb-md-0 pmenu_indv">
                        <div class="pmenu_foto">
                            <a href="#"><img src="/static/imagenes/perfil_menu_1.jpg" alt="Rosca de Chocolate"></a>
                        </div>
                        <div class="pmenu_nombre">
                            <h4>Rosca de Chocolate</h4>
                        </div>
                        <div class="pmenu_precio">
                            <p>$13.000</p>
                        </div>
                        <a href="#" class="btn pmenu_btn">Ver producto</a>

                    </div>
                    <div class="col-12 col-sm-6 col-md-3 mb-5 mb-md-0 pmenu_indv">
                        <div class="pmenu_foto">
                            <a href="#"><img src="/static/imagenes/perfil_menu_2.jpg" alt="Hamburguesa Veggie"></a>
                        </div>
                        <div class="pmenu_nombre">
                            <h4>Hamburguesa Veggie</h4>
                        </div>
                        <div class="pmenu_precio">
                            <p>$21.000</p>
                        </div>
                        <a href="#" class="btn pmenu_btn">Ver producto</a>

                    </div>
                    <div class="col-12 col-sm-6 col-md-3 mb-5 mb-md-0 pmenu_indv">
                        <div class="pmenu_foto">
                            <a href="#"><img src="/static/imagenes/perfil_menu_3.jpg" alt="Batido de Fresa"></a>
                        </div>
                        <div class="pmenu_nombre">
                            <h4>Batido de Fresa</h4>
                        </div>
                        <div class="pmenu_precio">
                            <p>$9.000</p>
                        </div>
                        <a href="#" class="btn pmenu_btn">Ver producto</a>

                    </div>
                    <div class="col-12 col-sm-6 col-md-3 mb-5 mb-md-0 pmenu_indv">
                        <div class="pmenu_foto">
                            <a href="#"><img src="/static/imagenes/perfil_menu_4.jpg" alt="Pizza Italiana"></a>
                        </div>
                        <div class="pmenu_nombre">
                            <h4>Pizza Italiana</h4>
                        </div>
                        <div class="pmenu_precio">
                            <p>$19.000</p>
                        </div>
                        <a href="#" class="btn pmenu_btn">Ver producto</a>

                    </div>
                </div>
            </div>
        </div>
    </div>
{%endblock perfilUser%}