{%extends 'layoutDashboard.html'%}
<!---->
{%block contentDash %}

<h2 class="centrado">FORMULARIO REGISTRO DE USUARIOS AL SISTEMA</h1>
    <form>
        <div class="form-row">
            <div class="form-group col-md-4">
                <label for="Cedula">Nombre</label>
                <input type="text" name="cedula" class="form-control">
            </div>
            <div class="form-group col-md-4">
                <label for="Genero">Genero</label>
                <select name="Genero" id="Genero" class="form-control">
                <option value="" selected>Genero</option>
                <option value="value">Femenino</option>
                <option value="value">Masculino</option>
                <option value="value">No identificado</option>
            </select>
            </div>
            <div class="form-group col-md-4">
                <label for="fecha"></label>
                <select name="fecha" id="tasking" class="form-control">
                <option value="" selected>Tipo Id.</option>
                <option value="value1">Cedula</option>
                <option value="value2">C. Extranjeria</option>
            </select>
            </div>
            <div class="form-group col-md-4">
                <label for="Apellido">Numero Id.</label>
                <input type="text" name="cedula" class="form-control">
            </div>
            <div class="form-group col-md-4">
                <label for="Apellido">Fecha Nacimiento</label>
                <input type="text" name="cedula" class="form-control">
            </div>
            <div class="form-group col-md-4">
                <label for="Municipio_idMunicipio">Ciudad</label>
                <select name="Municipio_idMunicipio" id="Municipio_idMunicipio" class="form-control">
                <option value="" selected>Ciudad</option>
                <option value="value2">Barranquilla</option>
                <option value="value2">Bogotá</option>
                <option value="value">Cartagena</option>
            </select>
            </div>
            <div class="form-group col-md-4">
                <label for="Apellido">Dirección</label>
                <input type="text" name="cedula" class="form-control">
            </div>

            <div class="form-group col-md-4">
                <label for="Cargo_idCargo">Nivel de Usuario</label>
                <select name="Cargo_idCargo" id="Cargo_idCargo" class="form-control">
                <option value="" selected>Usuario Final</option>
                <option value="value">Administrador</option>
                <option value="value">Usuario Final</option>

            </select>
            </div>
            <div class="form-group col-md-4">
                <label for="Salario">Correo electronico</label>
                <input type="text" name="cedula" class="form-control">
            </div>
            <div class="form-group col-md-4">
                <label for="Salario">Nombre Usuario</label>
                <input type="text" name="cedula" class="form-control">
            </div>

            <div class="form-group col-md-4">
                <label for="Salario">Contraseña</label>
                <input type="text" name="cedula" class="form-control">
            </div>
            <div class="form-group col-md-4">
                <label for="Salario">Repite contraseña</label>
                <input type="text" name="cedula" class="form-control">
            </div>


        </div>
        <!-- cierre de form-row -->
        <!-- dejo fuera a submit -->
        <div class="form-group col-md-6 centrado">
            <p><input type="submit" value="Cancelar" class="btn btn-danger btn-lg"></p>
        </div>

        <div class="form-group col-md-6 centrado">
            <p><input type="submit" value="Enviar" class="btn btn-success btn-lg"></p>
        </div>
    </form>

    {%endblock contentDash %}